<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Document</title>
</head>
<body>

    <main>
        <section class="content-productos">
            <section class="productos">
                <img src="https://img.fayerwayer.com/sites/9/2020/12/05/0-0/screenshot20190111at121351pm-b7a56dea67c3716264876a24f460dff6-1200x600.jpg" alt="" srcset="">
            </section>
        </section>
    </main>
</body>
</html>